html {
  color: black;
  background-color: white;
  font-family: monospace;
  font-size: 1rem;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
}

h4 {
  margin-top: 2rem;
  &:before {
    color: grey;
    content: '//// ';
  }
}

h3 {
  margin-top: 0rem;
  &:before {
    color: grey;
    content: '/// ';
  }
}

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background-color: dimgrey;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}
